<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Spotlight Item: </span>
      <% product = Product.spotlight%>
      <%= link_to product.name, product_path(product.id), class:"spotlight__link-to"%>
    </h2>
  </section>

  <section class="newly_added">
    <h2 class="newly_added__header">
      <span class="newly_added__header--prefix">Just Added!</span>
      <% Product.newly_added.each do |product|%>
        <%= link_to product.name, product_path(product.id), class:"newly_added__link-to"%>
      <% end %>
    </h2>
  </section>

  <section class="top_rated">
    <h2 class="top_rated_header">
      <span class="top_rated_header--prefix">Top Rated!</span>
    <% if Product.top_rated == nil%>
      <p> No Reviews Yet <p>
    <% else %>
      <%= link_to Product.top_rated.name, product_path(Product.top_rated.id), class:"top_rated__link-to"%>
    <% end %>
    </h2>
  </section>
  
</main>