<%= form_with(model: @order_item, url: [@product, @order_item]) do |f|%>
  <div>
    <%= f.label :qty %>
    <%= f.select :qty, [1..5] %>
  </div>
  <div>
    <%= f.submit "Submit Qty" %>
  </div>
<% end %>