/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";



// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 5px;
//   text-transform: uppercase;
//   font-family: 'Noto Serif KR', serif;
//   width: 40em;
// }

html, main, header {
  background-color: black;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.app-header__nav {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Noto Serif KR', serif;
}

.app-header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5em;
}

.app-header__nav li {
  margin: 10px;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#not-found {
  height: 100px;
  width: 100px;
}

.product-info {
  display: block;
}