// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .carousel {
//   width:350px;
//   height:350px;
// }
.newly_added__header {
  width: 10%;
  margin: auto;
}

.carousel-item active img {
  align-items: center;
}

.homepages-container > .top_rated {
  color:white;
}

.homepages-container {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
}

.newly-added {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.spotlight {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.top_rated {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}