// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.d-flex, .p-2 {
  display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  // flex-direction: column;
  margin: 2em;
}

.card-columns {
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 4em;
  height: auto;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

#not-found {
  width: 100%;
  object-fit: cover;
}

.card-title {
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.product-btn-container {
  display: block;
  float: right;
  margin-bottom: 4em;
  margin-right: 2em;
  background-color: red;

}
.new-product-btn {
  opacity: 0.2;
  // display: flex;
  // align-items: right;

  // margin: auto;
  // align-items: end;
}
