// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#review-text {
  margin-left: auto;
  margin-right: auto;
  width: 40%
}

#rating-selection{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}