<main>
  <h2>All Products</h2>
  <section>
    <% @products.each do |product| %>
      <div>
        image
        <%=link_to product.name, product_path( product.id ) %>
        <%= product.price %>
        <%= product.qty %>
        <%= product.description %>
      </div>
    <% end %>
  </section>
</main>