<main>
  <h2><%= @product.name %></h2>

  <section >
      <div>
        image
        <%= @product.price %>
        <%= @product.qty %>
        <%= @product.description %>
      </div>
  </section>

</main>